# NYC Airbnb 2022 Listings
### Data Exploration

In [34]:
import pandas as pd
import os

In [35]:
pwd = os.getcwd()

In [36]:
first_import = pd.read_csv(pwd + "/listings_2022.csv")
first_import

/Users/andresrojas/opt/miniconda3/envs/minimal_ds/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (17) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.753560,-73.985590,Entire home/apt,150,30,48,2019-11-04,0.33,3,334,0,NaN
1,3831,"Whole flr w/private bdrm, bath & kitchen(pls r...",4869,LisaRoxanne,Brooklyn,Bedford-Stuyvesant,40.684940,-73.957650,Entire home/apt,73,1,409,2021-10-22,4.62,1,214,26,NaN
2,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.685350,-73.955120,Private room,60,30,50,2019-12-02,0.33,2,365,0,NaN
3,5136,"Spacious Brooklyn Duplex, Patio + Garden",7378,Rebecca,Brooklyn,Sunset Park,40.662650,-73.994540,Entire home/apt,275,5,2,2021-08-08,0.02,1,152,1,NaN
4,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Midtown,40.764570,-73.983170,Private room,68,2,514,2021-12-21,3.33,1,198,40,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38180,54146364,Hermoso apartamento en el centro de williamsburg,230403448,Francisco,Brooklyn,Williamsburg,40.710886,-73.961838,Entire home/apt,94,30,0,NaN,NaN,2,360,0,NaN
38181,54148518,Time Square New York -Share Room,436339796,Jane,Manhattan,Hell's Kitchen,40.760986,-73.987924,Shared room,53,3,0,NaN,NaN,2,87,0,NaN
38182,54150715,Private PATIO in PRIVATE Room | 5mins to Manha...,340322917,Elizabeth,Brooklyn,Bedford-Stuyvesant,40.692611,-73.933902,Private room,61,13,0,NaN,NaN,1,365,0,NaN
38183,54152478,Center of Columbia University in UWS New York,438705539,Qingnan,Manhattan,Morningside Heights,40.804473,-73.963734,Private room,60,1,0,NaN,NaN,1,159,0,NaN
38184,54161645,Escape to Haven in Manhattan-West 57th Street-...,355450429,Mike,Manhattan,Midtown,40.764400,-73.977960,Entire home/apt,110,1,0,NaN,NaN,4,5,0,NaN

In [37]:
listings_modified = first_import.drop(columns=["license", "last_review"])
listings_modified

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm
0,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.753560,-73.985590,Entire home/apt,150,30,48,0.33,3,334,0
1,3831,"Whole flr w/private bdrm, bath & kitchen(pls r...",4869,LisaRoxanne,Brooklyn,Bedford-Stuyvesant,40.684940,-73.957650,Entire home/apt,73,1,409,4.62,1,214,26
2,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.685350,-73.955120,Private room,60,30,50,0.33,2,365,0
3,5136,"Spacious Brooklyn Duplex, Patio + Garden",7378,Rebecca,Brooklyn,Sunset Park,40.662650,-73.994540,Entire home/apt,275,5,2,0.02,1,152,1
4,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Midtown,40.764570,-73.983170,Private room,68,2,514,3.33,1,198,40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38180,54146364,Hermoso apartamento en el centro de williamsburg,230403448,Francisco,Brooklyn,Williamsburg,40.710886,-73.961838,Entire home/apt,94,30,0,NaN,2,360,0
38181,54148518,Time Square New York -Share Room,436339796,Jane,Manhattan,Hell's Kitchen,40.760986,-73.987924,Shared room,53,3,0,NaN,2,87,0
38182,54150715,Private PATIO in PRIVATE Room | 5mins to Manha...,340322917,Elizabeth,Brooklyn,Bedford-Stuyvesant,40.692611,-73.933902,Private room,61,13,0,NaN,1,365,0
38183,54152478,Center of Columbia University in UWS New York,438705539,Qingnan,Manhattan,Morningside Heights,40.804473,-73.963734,Private room,60,1,0,NaN,1,159,0
38184,54161645,Escape to Haven in Manhattan-West 57th Street-...,355450429,Mike,Manhattan,Midtown,40.764400,-73.977960,Entire home/apt,110,1,0,NaN,4,5,0

In [38]:
listings_modified.dtypes

id                                  int64
name                               object
host_id                             int64
host_name                          object
neighbourhood_group                object
neighbourhood                      object
latitude                          float64
longitude                         float64
room_type                          object
price                               int64
minimum_nights                      int64
number_of_reviews                   int64
reviews_per_month                 float64
calculated_host_listings_count      int64
availability_365                    int64
number_of_reviews_ltm               int64
dtype: object

In [39]:
print(list(listings_modified["neighbourhood_group"].unique()))
print(list(listings_modified["neighbourhood"].unique()))
print(list(listings_modified["room_type"].unique()))
print(list(listings_modified["number_of_reviews_ltm"].unique()))

['Manhattan', 'Brooklyn', 'Queens', 'Staten Island', 'Bronx']
['Midtown', 'Bedford-Stuyvesant', 'Sunset Park', 'Upper West Side', 'South Slope', 'Williamsburg', 'East Harlem', 'Fort Greene', "Hell's Kitchen", 'East Village', 'Harlem', 'Flatbush', 'Long Island City', 'Jamaica', 'Greenpoint', 'Nolita', 'Chelsea', 'Upper East Side', 'Prospect Heights', 'Clinton Hill', 'Washington Heights', 'Kips Bay', 'Bushwick', 'Carroll Gardens', 'West Village', 'Park Slope', 'Prospect-Lefferts Gardens', 'Lower East Side', 'East Flatbush', 'Boerum Hill', 'Sunnyside', 'St. George', 'Tribeca', 'Ridgewood', 'Mott Haven', 'Morningside Heights', 'Gowanus', 'Ditmars Steinway', 'Middle Village', 'Brooklyn Heights', 'Flatiron District', 'Windsor Terrace', 'Chinatown', 'Greenwich Village', 'Clason Point', 'Eastchester', 'Crown Heights', 'Astoria', 'Kingsbridge', 'Forest Hills', 'Murray Hill', 'University Heights', 'Gravesend', 'Allerton', 'East New York', 'Stuyvesant Town', 'Sheepshead Bay', 'Emerson Hill', 'Bensonhurst', 'Shore Acres', 'Gramercy', 'Arrochar', 'Theater District', 'Rego Park', 'Kensington', 'Woodside', 'Cypress Hills', 'SoHo', 'Little Italy', 'Elmhurst', 'Clifton', 'Bayside', 'Bay Ridge', 'Maspeth', 'Spuyten Duyvil', 'Briarwood', 'Battery Park City', 'Brighton Beach', 'Jackson Heights', 'Longwood', 'Inwood', 'Two Bridges', 'Fort Hamilton', 'Cobble Hill', 'New Springville', 'Flushing', 'Red Hook', 'Civic Center', 'Tompkinsville', 'Tottenville', 'NoHo', 'DUMBO', 'Columbia St', 'Glendale', 'Mariners Harbor', 'East Elmhurst', 'Concord', 'Downtown Brooklyn', 'Melrose', 'Kew Gardens', 'College Point', 'Vinegar Hill', 'City Island', 'Canarsie', 'Port Morris', 'Arverne', 'Richmond Hill', 'Financial District', 'Queens Village', 'Midwood', 'Brownsville', 'Williamsbridge', 'Soundview', 'Woodhaven', 'Parkchester', 'Bronxdale', 'Bay Terrace', 'Ozone Park', 'Flatlands', 'Norwood', 'Rockaway Beach', 'Hollis', 'Claremont Village', 'Fordham', 'Concourse Village', 'Borough Park', 'Fieldston', 'Springfield Gardens', 'Huguenot', 'Mount Hope', 'Wakefield', 'Navy Yard', 'Roosevelt Island', 'Lighthouse Hill', 'Unionport', 'Randall Manor', 'South Ozone Park', 'Kew Gardens Hills', 'Jamaica Estates', 'Concourse', 'Bellerose', 'Fresh Meadows', 'Morris Park', 'Far Rockaway', 'East Morrisania', 'Corona', 'Tremont', 'St. Albans', 'West Brighton', 'Manhattan Beach', 'Marble Hill', 'Dongan Hills', 'Morris Heights', 'Belmont', 'Castleton Corners', 'Laurelton', 'Hunts Point', 'Howard Beach', 'Great Kills', 'Pelham Bay', 'Silver Lake', 'Riverdale', 'Morrisania', 'Grymes Hill', 'Holliswood', 'Edgemere', 'New Brighton', 'Pelham Gardens', 'Baychester', 'Sea Gate', 'Bergen Beach', 'Stapleton', 'Cambria Heights', 'Richmondtown', 'Olinville', 'Dyker Heights', 'Throgs Neck', 'Coney Island', 'Rosedale', 'Howland Hook', "Prince's Bay", 'South Beach', 'Bath Beach', 'Midland Beach', 'Eltingville', 'Oakwood', 'Schuylerville', 'Edenwald', 'Highbridge', 'North Riverdale', 'Port Richmond', 'Mount Eden', 'Fort Wadsworth', 'Westchester Square', 'Van Nest', 'Arden Heights', "Bull's Head", 'Woodlawn', 'Grant City', 'New Dorp', 'Neponsit', 'Belle Harbor', 'Bayswater', 'Willowbrook', 'Douglaston', 'New Dorp Beach', 'Todt Hill', 'Mill Basin', 'West Farms', 'Little Neck', 'Whitestone', 'Rosebank', 'Co-op City', 'Jamaica Hills', 'Rossville', 'Castle Hill', 'Westerleigh', 'Chelsea, Staten Island', 'Gerritsen Beach', 'Breezy Point', 'Graniteville', 'Woodrow']
['Entire home/apt', 'Private room', 'Hotel room', 'Shared room']
[0, 26, 1, 40, 24, 3, 2, 44, 20, 9, 17, 31, 5, 14, 25, 10, 32, 22, 19, 4, 50, 11, 21, 7, 8, 43, 13, 12, 37, 6, 38, 55, 15, 29, 30, 58, 23, 27, 41, 49, 33, 36, 16, 52, 34, 65, 18, 46, 39, 61, 35, 68, 63, 90, 120, 78, 60, 28, 47, 45, 42, 64, 118, 48, 79, 67, 73, 75, 51, 54, 62, 84, 77, 57, 53, 82, 117, 85, 111, 81, 91, 80, 66, 88, 96, 69, 70, 71, 93, 74, 102, 97, 59, 99, 76, 89, 127, 100, 56, 103, 109, 83, 87, 148, 115, 110, 72, 132, 389, 224, 112, 338, 286, 241, 178, 154, 122, 116, 293, 221, 135, 437, 94, 669, 101, 142, 123, 104, 98, 261, 167, 95, 713, 92, 86, 108, 150, 152, 209, 134, 524, 404, 700, 170, 329, 183]

In [40]:
# 31224224
listings_modified[listings_modified["id"] == 31224224]
# Pandas corrects rows where the data is split in more than one row

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm
18857,31224224,Cozy private room with apartment to share.\n\n...,162933359,Marie,Manhattan,Harlem,40.82283,-73.93812,Private room,50,1,41,1.15,1,72,17

In [41]:
output = listings_modified.to_excel("cleaned_listings_2022.xlsx", index=False)

## Conclusions
* There are not major changes to make
* Pandas automatically corrects rows where the data is wrongly split into more than one row
* There are not duplicates in the categories' columns (e.g.: neighbourhood, room type)
* Columns that will not have any use were dropped
* This dataset is ready to use in Tableau